.indicators-hidden {
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;

  /* Скрити горизонтальний індикатор прокрутки */
  &::-webkit-scrollbar {
    width: 0.5em;
  }

  /* Скрити вертикальний індикатор прокрутки */
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  /* Скрити трек прокрутки (фон) */
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  /* Скрити кути */
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

.chats-list {
  @apply flex flex-col w-[40%] border-1 border-solid border-borderDefault 
  rounded-tl-medium bg-bgWhite;
}

.chatroom-style {
  @apply flex flex-col w-[60%] border-t-1 border-b-1 border-r-1 border-solid z-10
       border-borderDefault rounded-tr-medium bg-bgWhite;
}

.chatroom-empty-title {
  @apply font-sans font-500 text-heading4 mt-xs text-center;
}
