@import-normalize;
/* bring in normalize.css styles */

body {
  margin: 0;
  padding-top: 52px;
  color: #212121;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  color: currentColor;
}